html { 
  background: url("https://i.ytimg.com/vi/9TqIAwRyvmk/maxresdefault.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-align: center;
  font-family: helvetica;
}

p {
  font-size: 22px;
}

input {
  border: 0;
  padding: 10px;
  font-size: 18px;
}

input[type="submit"] {
  background: red;
  color: white;
}

/* unvisited link */
a:link {
    color: red;
}

/* visited link */
a:visited {
    color: orange;
}

/* mouse over link */
a:hover {
    color: hotpink;
}

/* selected link */
a:active {
    color: blue;
}